package ${exportHeadPackage};

import com.alibaba.excel.annotation.ExcelProperty;
import lombok.Data;

import java.util.Date;

@Data
public class ${clazzName}Export {

    @ExcelProperty("字符串标题")
    private String userName;
    @ExcelProperty("日期标题")
    private Date createTime;

}
