package ${paramPackage};

import lombok.Getter;
import lombok.Setter;
import org.example.backend.common.model.BaseParam;

@Getter
@Setter
public class ${clazzName}Req extends BaseParam {

    private Integer id;

}
